header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-inline-end: 30px;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a.active-link {
  color: #3182ce;
  border-bottom: 2px solid #3182ce;
  padding-bottom: 4px;
}

@media (max-width: 600px) {
  .nav-links {
    gap: 15px;
    margin-inline-end: 10px;
  }
}
